# Machine Learning Model (AdaBoost Regression)

In [27]:
import os

In [28]:
os.getcwd()

'C:\\Users\\Dell'

In [29]:
os.chdir('C:\\Users\\Dell')

In [30]:
os.getcwd()

'C:\\Users\\Dell'

In [31]:
import numpy as np
import pandas as pd

In [32]:
gap=pd.read_csv("GapMinder.csv")

In [33]:
gap.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

# Step 1

In [34]:
X=gap.drop(columns=["fertility"])

In [35]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

In [36]:
y=gap["fertility"]

In [37]:
y.head()

0    2.73
1    6.43
2    2.24
3    1.40
4    1.96
Name: fertility, dtype: float64

# Rules

In [38]:
X.dtypes

population           int64
HIV                float64
CO2                float64
BMI_male           float64
GDP                  int64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [39]:
X=pd.get_dummies(X,columns=["Region"],drop_first=True,prefix="DM")

In [40]:
X.dtypes

population                         int64
HIV                              float64
CO2                              float64
BMI_male                         float64
GDP                                int64
BMI_female                       float64
life                             float64
child_mortality                  float64
DM_East Asia & Pacific             uint8
DM_Europe & Central Asia           uint8
DM_Middle East & North Africa      uint8
DM_South Asia                      uint8
DM_Sub-Saharan Africa              uint8
dtype: object

In [41]:
type(X)

pandas.core.frame.DataFrame

In [42]:
X.shape

(139, 13)

In [43]:
gap.isna().sum()

population         0
fertility          0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

# Step 2

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

Feature Scaling on Training Dataset

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
minmax=MinMaxScaler()

In [48]:
X_train_scaled=minmax.fit_transform(X_train)

In [50]:
X_train_scaled=pd.DataFrame(X_train_scaled)

In [57]:
X_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.010726,0.523994,0.004393,0.035460,0.037475,0.848837,0.184783,0.487058,0.0,0.0,0.0,0.0,1.0
1,0.001000,0.202786,0.033520,0.456449,0.232589,0.729927,0.334239,0.344955,0.0,0.0,0.0,0.0,1.0
2,0.007790,0.005418,0.044546,0.500763,0.068468,0.277088,0.698370,0.260433,0.0,0.0,0.0,0.0,0.0
3,0.009987,0.028638,0.014179,0.189838,0.024066,0.725197,0.519022,0.386160,0.0,0.0,0.0,0.0,1.0
4,0.003529,0.028638,0.002351,0.060508,0.007645,0.469648,0.413043,0.304807,0.0,0.0,0.0,0.0,1.0

Feature Scaling on Testing Dataset

In [53]:
X_test_scaled=minmax.transform(X_test)

In [54]:
X_test_scaled=pd.DataFrame(X_test_scaled)

In [56]:
X_test_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.022289,0.001548,0.139849,0.610842,0.048086,0.387104,0.638587,0.245642,0.0,1.0,0.0,0.0,0.0
1,0.013067,0.001548,0.460404,0.731226,0.278412,0.643838,0.567935,0.122557,0.0,1.0,0.0,0.0,0.0
2,0.003398,0.000000,0.165240,0.769133,0.325444,0.731613,0.850543,0.016904,0.0,1.0,0.0,0.0,0.0
3,0.028570,0.036378,0.011690,0.249073,0.040640,0.693310,0.603261,0.433175,0.0,0.0,0.0,0.0,1.0
4,0.004209,0.001548,0.332889,0.786143,0.635047,0.513508,0.929348,0.003170,0.0,1.0,0.0,0.0,0.0

# Step 3

In [58]:
from sklearn.ensemble import AdaBoostRegressor

In [59]:
boost=AdaBoostRegressor()

In [60]:
boost.fit(X_train_scaled,y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

# Step 4

# Evaluate

In [61]:
boost.score(X_test_scaled,y_test)

0.8793233365799609

# Predict

In [64]:
boost.predict(X_test_scaled)                                       #Predicted Answers

array([2.55842105, 2.27428571, 1.71147059, 4.87457143, 1.68875   ,
       2.44888889, 5.30529412, 1.72      , 5.23722222, 2.60269231,
       1.7125    , 5.24222222, 4.99451613, 5.69380952, 5.73230769,
       2.02791667, 1.744     , 5.23722222, 1.87533333, 1.7125    ,
       2.52772727, 2.47044444, 6.48444444, 2.09      , 1.744     ,
       1.87533333, 1.744     , 2.28666667, 3.51      , 1.7125    ,
       1.77058824, 1.744     , 1.99      , 1.77058824, 1.68875   ,
       4.97631579, 4.69333333, 1.744     , 1.9404    , 2.47044444,
       5.69380952, 4.965     , 1.72      , 6.40857143, 1.77722222,
       1.95428571])

In [65]:
gap.iloc[94:,1:2]                                                   #Actual Answers

     fertility
94        1.96
95        2.89
96        3.58
97        2.61
98        4.07
99        3.06
100       2.58
101       3.26
102       1.33
103       1.36
104       2.20
105       1.34
106       1.49
107       5.06
108       5.11
109       1.41
110       5.13
111       1.28
112       1.31
113       1.43
114       7.06
115       2.54
116       1.42
117       2.32
118       4.79
119       2.41
120       3.70
121       1.92
122       1.47
123       3.70
124       5.54
125       1.48
126       4.88
127       1.80
128       2.04
129       2.15
130       6.34
131       1.38
132       1.87
133       2.07
134       2.11
135       2.46
136       1.86
137       5.88
138       3.85